.panel pre {
	margin-top: -0.5rem;
}
code {
	color: #333333;
	font-weight: normal;
	font-size: 0.8rem;
}

ul.actions {
	list-style: none;
}
ul.actions li {
	display: inline;
}
ul.actions li a {
	color: #222222;
}
.article-info {
	margin-left: 0;
	list-style: none;	
}
.article-info li {
	display: inline;
	font-size: 0.9rem;
	line-height: 1.4;
	font-style: italic;
}
.article-info.icons li {
	padding-right: 0.5rem;
}
.article-info.no-icons li {
	border-left: solid 1px #333333;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.article-info.no-icons li.first {
	padding-left: 0;
	border-left: 0 none;
}